label {
	font-size: 1.5em;
}

.spaceContainer {
	margin-bottom: 70px;
}

.panelSpace {
	margin-top: 70px;
}

.panel-primary {
	border-color: transparent !important;
	font-weight: bold;
}

.panel-heading {
	background-color: gray !important;
}

input[type=submit] {
	font-family: 'Encode Sans Expanded', sans-serif;
	color: white;
	border-radius: 4px;
	background-color: #4CAF50;
	padding: 10px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#textStyle {
	font-family: 'Encode Sans Expanded', sans-serif;
	font-weight: bold;
}